html {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;

  #root {
    height: 100%;
    background: var(--app-color-background);
    color: var(--app-color-text);
    max-height: 100vh;

    @include resetMargins;
    @include resetPaddings;

    * {
      ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
